<div class="lazy-dm-tabs">
  <nav class="tabs" data-group="primary">
    <a class="item" data-tab="characters">Characters</a>
    <a class="item" data-tab="strongStart">Strong Start</a>
    <a class="item" data-tab="scenes">Scenes</a>
    <a class="item" data-tab="secrets">Secrets</a>
    <a class="item" data-tab="locations">Locations</a>
    <a class="item" data-tab="npcs">NPCs</a>
    <a class="item" data-tab="threats">Threats</a>
    <a class="item" data-tab="rewards">Rewards</a>
  </nav>
  <section class="content">
    {{> characters}}
    {{> strongStart}}
    {{> scenes}}
    {{> secrets}}
    {{> locations}}
    {{> npcs}}
    {{> threats}}
    {{> rewards}}
  </section>
</div>
<button class="save-session">Save Session</button>
