<div class="tab" data-tab="strongStart">
  <h2>{{localize "LAZY_PREP.STRONG_START"}}</h2>
  <textarea name="strong-start-text" rows="4" style="width:100%;">{{session.strongStart.text}}</textarea>
  <button class="create-strong-start-scene">{{localize "LAZY_PREP.CREATE_SCENE"}}</button>
</div>
